<!DOCTYPE html>
<html>

{% include '_head.html' %}

<body class="main">

  {% include '_navbar.html' %}

  <!-- Header -->
  <section class="hero">
    <div class="hero-body has-text-centered">
      <p class="title">
        PhysCov
      </p>
      <p class="subtitle">
        Physical Test Coverage for Autonomous Vehicles
      </p>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body has-text-centered">
      <div class="container">
        <div class="buttons is-centered">
          <a class="button is-large is-link is-outlined" href="/documentation">Artifact Documenation</a>
          <a class="button is-large is-info is-outlined" href="/paper">Paper</a>
        </div>
      </div>
    </div>
  </section>

  {% include '_footer.html' %}

</body>

</html>