<!DOCTYPE html>
<html>

{% include '_head.html' %}

<body class="main">

  {% include '_navbar.html' %}

  <!-- Header -->
  <section class="hero">
    <div class="hero-body has-text-centered">
      <p class="title">
        PhysCov 
      </p>
      <p class="subtitle">
        Please find the attached paper
      </p>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body has-text-centered">
      <div class="container">
        <iframe src="{{url_for('static', filename='paper/PhysCov.pdf')}}" width="100%" height="1000px">
        </iframe>
      </div>
    </div>
  </section>

  

  {% include '_footer.html' %}

</body>

</html>
